/*Sass(Scss記法)にしようかと思ったんやけど、これコンパイルのやり方とか揃えなあとで困るんかな？
と思ったので、とりまcssで運用*/

body {
  background-color: #333333;
}

h1 {
  color:white;
}
.graphic {
  text-align: center;
}

#avatar{
  position:absolute;
  top:0;
  left:0;
  z-index:1;
}

#box{
  color:white;
}
