<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        ドミニオンのルール
    </title>
    <meta name="keywords" content="プロジェクト街,Project街,プロ街,p街,pro街,チャット,うぉわ">
    <meta name="description" content="チャットサイトproject街の後継？テストサバです。">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <head>
        <h1 style="color: yellow; font-size: 50px; font-family: 'Q-A' ">ドミニオンのルール</h1>
    </head>
    <div role="main" id=dominion>
        <p>山札の数をだんだん増やしていくゲームです</p>
        <br>
        <p>サプライ（場）からお金、効果カード、勝利点カードの3種類のどれかを、毎ターン取得できます。</p>
        <br>
        <p>基本ルールなら最初の山札の構成は、銅貨7枚、屋敷（勝利点カード）の3枚です。</p>
        <br>
        <p>カードの右下にあるのが、カードの購入に必要な金額です。</p>
        <br>
        <p>毎ターン可能な行動は、アクション１、購入１です。</p>
        <p>アクション終了後に購入が行えます。</p>
        <p>アクションは効果カードを１枚使うこと、購入はサプライにあるカードを１枚取得することです。</p>
        <br>
        <br>
        <p>ゲームの目的は誰よりも勝利点（カード）を多く手に入れること。</p>
        <br>
        <br>
        <p>ゲームの終了は、属州が全てなくなるか</p>
        <p>サプライにあるカードが、プレイ人数が5人以上の時は4種類、4人以下の時は3種類なくなった時です。</p>
        <br>
        <br>
        <br>
        <p>用語</p>
        <p>獲得・・・山札にカードを入れること。</p>
        <p>廃棄・・・カードを山札から取り除くこと。</p>
        <br>
        <br>
        <p>新しいフレンドとの対戦の仕方</p>
        <p>画面中央上にあるフレンドリストをクリック、</p>
        <p>フレンド名を入力欄に入れて、追加をクリック、</p>
        <p>画面の左上のマッチングをクリックし、フレンドの居る卓に入り、対戦をクリック。</p>
        <br>
        <br>
        <br>
        <a href="https://dominion.games/" target="_blank"style="color:rgb(211, 211, 32); font-weight: bold;">　　　　　　　　　　　　　　　　　　　　　　　　https://dominion.games/</a>
        <br>
        <br>
        <a href="/" target="_blank" style="color:rgb(255, 165, 0); font-weight: bold;">　　　　　　　　　　　　　　　　　　　　　　　　猫街に戻る</a>
    </div>
</body>

</html>