<!-- set DEBUG=myapp2 & npm start -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        <%= title %>
    </title>
    <meta name="keywords" content="プロジェクト街,Project街,プロ街,p街,pro街,チャット,うぉわ">
    <meta name="description" content="チャットサイトproject街の後継？テストサバです。">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>

    <div role="main">
        <div id="kousinrirekiFrame">
            <div id="kousinrireki">
                <h1 style="color:rgb(111, 111, 255);">更新履歴</h1>
                <!-- <p>2021/02/0</p> -->
                <br>
                <p>2021/02/28 わっふるわっふる</p>
                <br>
                <p>2021/02/27 リンク貼れるようにした</p>
                <br>
                <p>2021/02/25 🍣</p>
                <br>
                <p>2021/02/24 スマホとか用にリアカメラとフロントカメラの選択</p>
                <br>
                <p>2021/02/22 エラー解消用のデバックモードを作ったが、あんま役に立たんかもしれなぃ</p>
                <br>
                <p>2021/02/19 バグ修正と分離</p>
                <br>
                <p>2021/02/18 文字サイズ変更追加 </p>
                <br>
                <p>2021/02/13 画面サイズの変更追加</p>
                <br>
                <p>2021/02/11 UI調整</p>
                <br>
                <p>2021/02/10 自動受信をオフにしたら全部切れるように</p>
                <br>
                <p>2021/02/09 自動受信ボタン実装</p>
                <br>
                <p>2021/02/08 たぶん多重が完全に安定</p>
                <br>
                <p>2021/02/07 たぶんソロ配信が安定</p>
                <br>
                <p>2021/02/05 UI調整、更新履歴(ここ)とか復活</p>
                <br>
                <p>2021/02/04 配信の軽量化 </p>
                <br>
                <p>2021/02/03 配信者の名前を出るようにした</p>
                <br>
                <p>2021/02/02 ランダムタイトルフォント</p>
                <br>
                <p>2021/02/01 urlをhttps://nuco.moe/に</p>
                <br>
                <br>
                <p>2021/1/31 動画、多重機能実装</p>
                <br>
                <p>2021/1/14? wa-iの色変え実装</p>
                <br>
                <p>2021/1/12? 音声配信実装</p>
                <br>
                <p>2020/1/11? ssh化</p>
                <br>
                <br>
                <p>2020/12/11 セキュリティ強化、成りすまし防止</p>
                <br>
                <br>
                <p>2020/11/15 ミュートの表記修正</p>
                <br>
                <p>2020/11/14 名無しジェネレーター実装</p>
                <br>
                <p>2020/11/13 ログ音を個々での固定にしました。30分放置したら寝るようになりました。</p>
                <br>
                <p>2020/11/11 メニューからアボンできるようにしたお</p>
                <br>
                <p>2020/11/10 右クリックで移動できなくした</p>
                <br>
                <p>2020/11/9 スマホでもメニュー出せるようになったお(長押し)</p>
                <br>
                <p>2020/11/6 眠れるようになったお(ごまねこ)</p>
                <br>
                <p>2020/11/4 アバターが動かんかったりするバグ修正</p>
                <br>
                <p>2020/11/3 座れるようになったお</p>
                <br>
                <p>2020/11/1 改称</p>
                <br>
                <p>11月なったら開発再開しま</p>
                <br>
                <br>
                <br>
                <p>2020/8/18 <a style="color:#ee1b61; font-weight:bold;" href="/login_error_handling" target="_blank"
                        class="nonUnder">サイトに入れない人へ</a>を追加</p>
                <br>
                <p>2020/8/15 windowsize変更時に、スクロールバーが中途半端な位置にあったら勝手に一番上に行ってしまう現象を修正</p>
                <br>
                <br>
                <p class="strike">テキストアボン再実装中(テキスト左クリックでアボン)</p>
                <br>
                <p>2020/7/14 お絵かき機能(α版)実装</p>
                <br>
                <p>たぶんしばらく放置</p>
                <br>
                <br>
                <p>2020/6/22 遅延なくなった、キャラ同時に動くようになった</p>
                <br>
                <p>2020/6/20 SE割り振り、増やした</p>
                <br>
                <p>2020/6/18 設定が保存されるようになった</p>
                <br>
                <p>2020/6/14 宇宙から生還 音量調整入れた</p>
                <br>
                <p>2020/6/13 もう完全にスマホ対応した</p>
                <br>
                <p>2020/6/11 ちょっとＵＩ変えた、iOSで文字入力時に拡大されるの直した</p>
                <br>
                <p>2020/6/10 効果音増やした</p>
                <br>
                <p>2020/6/9 遠近感入れた</p>
                <br>
                <p>2020/6/8 効果音実装　協力：<span class="mzk">mzk</span></p>
                <br>
                <p>2020/6/7 軽量化した</p>
                <br>
                <p>2020/6/5 色増やした</p>
                <br>
                <p>2020/6/4 色変え実装</p>
                <br>
                <p>2020/6/1 宇宙が生まれた</p>
                <br>
                <br>
                <p>2020/5/30 再開</p>
                <br>
                <p>飽きたのでしばらく放置</p>
                <br>
                <p>2020/05/28 やっとスマホ対応</p>
                <br>
                <p>とりあえず、アボンは右クリックでできるようにした。</p>
                <br>
                <p>新色→skyblue→みかん色→旧</p>

                <br>
                <p>リサイズ時のスクロールバーの挙動がおかしいので直した</p>
                <br>
                <p>スクロールバーちょっと弄ってみた(Chrome,Safariのみ)</p>
                <br>
                <p>2020/05/25 <span style="color:#97B8FF; font-weight:bold;">ねこすけ</span>実装　提供：ごまちゃんお</p>
                <br>
                <p>画面の大きさとか調整した</p>
                <br>
                <p>2020/05/21 UIを色々変えた、ちゃりーｎ</p>
                <br>
                <p>2020/05/17 名前を自動再入力するようにした</p>
                <br>
                <a href="/dominionrule" target="_blank">　　　　　ドミニオンのルール</a>
                <br>
                <p>2020/05/11 ログ残し</p>
                <br>
                <p>2020/05/10 Ｑ＆Ａ設置</p>
                <br>
                <p>フォント増やした</p>
                <br>
                <p>2020/05/09 名前を真ん中にして、枠つけた</p>
                <br>
                <p>2020/05/08 フォント選定開始、そのうち統一する、重くなるので選択式にはしない</p>
                <br>
                <p>2020/05/05 エントランスの画像差し替え</p>
                <br>
                <p>若干軽くなった</p>
                <br>
                <p>低脂肪はコンフレとコヒ牛乳。飲むだけなら普通の牛乳。ホットケーキミックスクスにはバナナ豆乳。何食べは調整豆乳を飲む。 ごまちゃｎは料理とかコーヒーに混ぜるときは無調整、そのまま飲むときは低脂肪
                </p>
                <br>
                <p>2020/05/04 入退場時に時間が表示されるようにした</p>
                <br>
                <p>2020/05/01 無入力で吹き出し消せるようにした,アボン画像差し替え</p>
                <br>
                <br>
                <span>　　　</span>
                <img src="img/abonBefore.png" alt="旧アボン" align="middle">
                <div class="inlineBlock">　→　</div>
                <img src="img/abon.png" alt="新アボン" align="middle">
                <p>2020/04/30/アボンで藁人形になるようにした、アボンすると動きもわからなくなるようにした　提供：ごまちゃんが</p>
                <br>
                <p>アバターの位置によってちゃんと手前や後ろになるようにした</p>
                <br>
                <p>名前入力時にエンターでログインできるようにした</p>
                <br>
                <p>2020/04/26 <span style="color:#F9C2FD;">ごまねこ</span>実装</p>
                <br>
                <s>

                    <p>windows用専ブラPMbrowserVer1.0配布 提供：<span style="color: red;">闇の帝王</span></p>
                    <br>
                    <a href="/zip/p-m-browserVer1.0Win.exe" target="_blank">p-m-browserVer1.0Win.exe(自動解凍)</a>
                    <br>
                    <a href="/zip/p-m-browserVer1.0Win.zip" target="_blank">p-m-browserVer1.0Win.zip</a>
                    <br>
                    <p>起動手順: distフォルダのp-m-browser Setup 1.0.0をクリックで、setup</p>
                    <br>
                    <p>win10なら、スタート→最近追加されたもの右クリック→その他　でファイルの場所を開く　ってあるので必要な方はそっからショートカット生成</p>
                    <br>
                    <p style="color: yellow;">Mac用の専ブラは誰か手伝ってくれれば作れる、協力者求む！！！</p>
                </s>
                <p>今使えぬ</p>
                <br>
                <p>edgeでなんか画面グラグラするの修正,方向判定修正</p>
                <br>
                <p>メッセージのオートコンプリート機能を無効化</p>
                <br>
                <p>2020/04/25 再起動時にメッセージを出力</p>
                <br>
                <p>2020/04/22 ごまねこ実装中(途中) 提供：ごまちゃん</p>
                <br>
                <br>
                <p>2020/04/15 チャットログに背景画面を設定。提供：ごまちゃん</p>
                <br>
                <br>
                <p>2020/3/26 トリップ実装※2ch非準拠</p>
                <br>
                <p>2020/3/13 アボン機能　アバターかテキストクリックでアボン※相手の発言が見えなくなるよ、こっちの発言は伝わるよ、アボンしたことは相手には伝わらないよ。</p>
                <br>
                <p>シュモクザメになりたい</p>
                <br>
                <p>2020/3/11 users</p>
                <br>
                <p>2020/3/7 一応スマホ対応したが、なんかだんだん重くなる、謎、しばらくあんま更新しない</p>
                <br>
                <p>2020/3/6 サーバー常駐になった</p>
                <br>
                <p>2020/3/5 IE11に完全対応</p>
                <br>
                <p>2020/3/4 入力欄に自動でフォーカスが当たるようになった、スマホだと入るとき糞重い問題解決（まだ動けない）、実はログイン回数200までだったのを解除した</p>
                <br>
                <p>2020/3/3 汚物は消毒だーーー(エントランス画像差し替え)、　　未入力を無効化</p>
                <br>
                <p>2020/3/2 IE11に一応対応(調整中,二回に一回バグる)</p>
                <br>
                <p>2020/3/1 更新履歴実装</p>
                <br>
                <br>
                <p>2020/2/29 メッセージフォームおっきくした、ログの文字の大きさ調整、文字制限を250字に拡大</p>
                <br>
                <p>2020/2/28 背景色を街にした</p>
                <br>
                <p>2020/2/27 テストサーバー公開</p>
                <br>
            </div>
            <div id="bagusyusei">
                <h2 style="color:rgb(236, 213, 210);">バグ修正</h1>
                    <!-- <p>2021/02/2</p>
                    <br> -->
                    <!-- <p>2021/02/2</p>
                    <br> -->
                    <!-- <p>2021/02/2</p>
                    <br> -->
                    <p>2021/02/27 鮨</p>
                    <br>
                    <p>2021/02/24 サファリで配信が聞けない問題解決</p>
                    <br>
                    <p>2021/02/23 バックグラウンド待機時に部屋の入退出の順序がおかしくなるのを直した</p>
                    <br>
                    <p>2021/02/19 ログイン画面とか別の部屋でも受信や配信できる問題を解消</p>
                    <br>
                    <p>2021/02/17 androidでキーボードが消える問題修正 </p>
                    <br>
                    <p>2021/02/11 大量配信時に受信ボタン押せない問題修正、スマホ版の変な隙間なくした</p>
                    <br>
                    <p>2021/02/06 配信終了時にちゃんと切れない問題修正(たぶん)、</p>
                    <br>
                    <p>2021/02/02 キャラ変えが変になってたのを修正,切断時に受信ボタンをちゃんと消えるように、SE音量調整が機能してないの直した</p>
                    <br>
                    <p>2020/7/22 名前が下になってるのと、ログイン時に他の部屋に居たアバターが部屋を移動したらアバターが取り残されるバグと、他の部屋でのログアウトしたアバターが消えてないバグを修正</p>
                    <br>
                    <p>2020/7/10 バックグラウンド復帰時に他の人が部屋を出て帰ってきてたら表示されてないってバグを直した</p>
                    <br>
                    <p>2020/6/2 ログ残しが順番になってなかった</p>
                    <br>
                    <p>2020/5/30 画面外脱出バグ修正</p>
                    <br>
                    <p>2020/05/26 IE11で描画がおかしくなってたの直した、しかしIE11の対応がめんどすぎるのでそのうち投げるかもしれん</p>
                    <br>
                    <p>2020/05/23 動きのバグ直した</p>
                    <br>
                    <p>2020/05/11 再起動メッセージが上手くいかなくなってたので直した</p>
                    <br>
                    <p>2020/04/25 鯖落ちエラーの修正</p>
                    <br>
                    <p>2020/04/16 アバター残像バグ修正</p>
                    <br>
                    <p>2020/2/28 表示位置がちょいちょいおかしいの修正</p>


            </div>
        </div>
    </div>
</body>

</html>