<!-- set DEBUG=myapp2 & npm start -->
<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>
    サイトに入れない人へ
  </title>
  <meta name="keywords" content="プロジェクト街,Project街,プロ街,p街,pro街,チャット,うぉわ">
  <meta name="description" content="チャットサイトproject街の後継？テストサバです。">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
</head>

<body class="fontSize18px">
    <h1 id="errorHandlingTitle" style="font-size: 50px" class="errorHandlingColor">サイトに入れない人へ</h1>
  <div role="main">
    <p>Chromeで入れない人は以下のサイトを参考にしてください。(ハードウェアアクセラレーションをオンにしてください。)</p>
    <br>
    <a href="https://pc-karuma.net/google-chrome-hardware-acceleration/" target="_blank">https://pc-karuma.net/google-chrome-hardware-acceleration/</a>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>Silkブラウザ(Fireタブレット)だと入れないらしいです。対応は未定です</p>
    <br>
    <br>
    <br>
    <br>
    <p>現状、スマホだと初回入場時かなり重いです。キャッシュ消さないようにしてください。対応中です。</p>
    <br>
    <br>
    <br>
    <p>それ以外で入れない人はここに連絡してください。</p>
    <br>
    <a href="https://twitter.com/Project_MACHI" target="_blank">https://twitter.com/Project_MACHI</a>
  </div>
</body>

</html>