<!-- set DEBUG=myapp2 & npm start -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        <%= title %>
    </title>
    <meta name="keywords" content="プロジェクト街,Project街,プロ街,p街,pro街,チャット,うぉわ">
    <meta name="description" content="チャットサイトproject街の後継？テストサバです。">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <head>
        <h1  style="font-size: 50px; font-family: 'Q-A';"class="Q-AColor">Q & A</h1>
    </head>
    <div id="Q-A" role="main">
        <p>Q.配信機能はつけますか?</p>
        <p>A.音声はそのうち、動画は未定、たぶん低画質は無料、高画質は課金制って形になると思う。</p>
        <br>
        <p>Q.トリップは使えますか？</p>
        <p>A.名前の後に＃適当な文字列　で使える</p>
        <br>
        <p>Q.トリップが他サイトと違うのですが・・・</p>
        <p>A.オリジナルなので、お気に入りのトリップまた探して、一応既にジェネレーター作ってる人も居るよ</p>
        <br>
        <p>Q.移動ができないよ！！</p>
        <p>A.陸地をクリックしたら移動できるよ！</p>
        <br>
        <p>Q.入れん！！！</p>
        <p>使ってるブラウザを管理人↓に報告ぅ！今のとこSilkブラウザ(Fireタブレット)だと入れないのは確認してる。ただ、マイナーブラウザの対応は未定。</p>
        <a href="https://twitter.com/Project_MACHI" target="_blank">https://twitter.com/Project_MACHI</a>
        <br>
        <br>
        <p>Q.NGワードの実装予定はありますか？</p>
        <p>A.ないよ</p>
        <br>
        <p>Q.アボンがうざいんやけど！！</p>
        <p>A.そのうち右クリックメニューにぶち込むから待ってちょ</p>
        <br>
        <p>Q.多重ログインしほうだいだけど、大丈夫？</p>
        <p>A.そのうち二人までにするからまってちょ</p>
        <br>
        <p>Q.大黒柱ってなんですか？</p>
        <p>A.街の空を支えている</p>
        <br>
        <p>Q.Pボタンが止まらん</p>
        <p>A.頑張ってちょうどいいタイミングでクリックしたら止まる</p>
        <br>
        <p>Q.時計が動かないよ？</p>
        <p>A.今のとこ動かす気はない</p>
        <br>
        <p>Q.手伝いたいんやけど？</p>
        <p>A.<a href="https://twitter.com/Project_MACHI" target="_blank">https://twitter.com/Project_MACHI</a>に連絡ぅ！</p>
        <br>
        <p>以降、なんかあったら書き足す</p>
    </div>
</body>
</html>