<!-- set DEBUG=myapp2 & npm start -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        Q&A
    </title>
    <meta name="keywords" content="プロジェクト街,Project街,プロ街,p街,pro街,チャット,うぉわ">
    <meta name="description" content="チャットサイトproject街の後継？テストサバです。">
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <h1 style="font-size: 50px; font-family: 'Q-A';" class="Q-AColor">Q & A</h1>
    <br>
    <div id="Q-A" role="main">
        <p>Q.入れない</p>
        <div class="topPaddingPlus">
            <div class="flexContainer">
                <p class="bottom">A.</p><a style="font-size:30px; color:#ee1b61; font-weight:bold;"
                    href="/login_error_handling" target="_blank">サイトに入れない人へ</a>
                <p class="bottom">を参照</p>
            </div>
            <br>
            <p>推奨ブラウザはchromeです。</p>
        </div>
        <br>
        <br>
        <p>Q.配信できん</p>
        <p>A.<a href="https://nuco.moe/" target="_blank"
                style="color:rgb(211, 211, 32); font-weight: bold;">https://nuco.moe/</a>で入ってお、それでできなかったら報告よろしくぅ
        </p>
        <s>
            <p>Q.配信機能はつけますか?</p>
            <p>A.音声はそのうち、動画は未定、たぶん低画質は無料、高画質は課金制って形になると思う。</p>
            <br>
        </s>
        <p>実装した。課金はやっぱ未定</p>
        <br>
        <p>Q.トリップは使えますか？</p>
        <p>A.名前の後に＃適当な文字列　で使える</p>
        <br>
        <p>Q.トリップが他サイトと違うのですが・・・</p>
        <p>A.オリジナルなので、お気に入りのトリップまた探して、一応既にジェネレーター作ってる人も居るよ</p>
        <br>
        <p>Q.移動ができないよ！！</p>
        <s><p>A.陸地をクリックしたら移動できるよ！</p></s>
        <p>空に手が届くようになったょ</p>
        <br>
        <p>Q.NGワードの実装予定はありますか？</p>
        <p>A.ないよ</p>
        <br>
        <s>
            <p>Q.アボンがうざいんやけど！！</p>
            <p>A.そのうち右クリックメニューにぶち込むから待ってちょ</p>
        </s>
        <p>入れた</p>
        <br>
        <p>Q.多重ログインしほうだいだけど、大丈夫？</p>
        <p>A.そのうち二人までにするからまってちょ</p>
        <br>
        <p>Q.大黒柱ってなんですか？</p>
        <p>A.街の空を支えている</p>
        <br>
        <p>Q.Pボタンが止まらん</p>
        <p>A.頑張ってちょうどいいタイミングでクリックしたら止まる</p>
        <br>
        <p>Q.時計が動かないよ？</p>
        <p>A.今のとこ動かす気はない</p>
        <br>
        <p>Q.手伝いたいんやけど？</p>
        <p>A.              <script type="text/javascript" >
                <!--
                function converter(M){
                var str="", str_as="";
                for(var i=0;i<M.length;i++){
                str_as = M.charCodeAt(i);
                str += String.fromCharCode(str_as + 1);
                }
                return str;
                }
                var ad = converter(String.fromCharCode(115,110,113,96,63,109,116,98,110,45)+String.fromCharCode(108,110,100));
                document.write("<a style= color:yellow; font-weight: bold;' href=\"mai"+"lto:"+ad+"\">"+ad+"<\/a>");
                //-->
                </script>
                <noscript>（画像などを設置）</noscript>に連絡</p>
        <br>
        <br>

        <p>Q.サファリで受信押しても直ぐに再生されない</p>
        <p>A.サファリは、なんかどこでもいいからタップしたら聞こえるようになってる、仕様上の問題で音声の自動再生ができない</p>
        <br>
        <p>Q.サファリで効果音が聞けない</p>
        <p>A.上記の理由で音が鳴らせない、そのうち常時バックグラウンドミュージックの再生とかで解決はするかも。
        </p>
        <br>
        <br>
        <p>以降、なんかあったら書き足す</p>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <a id="kousinrirekiURL" href="/kousinrireki" target="_blank" style="color: rgb(111, 111, 255);">更新履歴</a>
    <br>
    <p>管理人ツイッター　:ここで起こった全てのクレーム苦情罵倒暴言暴力はこちらへ</p>
    <a href="https://twitter.com/Project_MACHI" target="_blank"
        style="color:rgb(211, 211, 32); font-weight: bold;">https://twitter.com/Project_MACHI</a>
    <br>

</body>

</html>