<!-- set DEBUG=myapp2 & npm start -->
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>
        uowamemo01
    </title>
    <link rel='stylesheet' href='/stylesheets/styleMemo.css' />
</head>

<body>
    <h1>
        わいがこの世が作りものだと思ってる根拠
    </h1>
    <p id="honbun">
        わいは、人類はおそらくこの先(ダイソン球とか、核融合炉で)ほとんど無限に等しいエネルギーを獲得して、
        <br>
        <br>
        記憶の操作技術も確立して、永遠の命も、<span style="color: rgb(0, 128, 192);">見破ることが不可能な仮想世界も作り上げるだろう</span>　って思ってる。
        <br>
        <br>
        そいで人類が今程度の技術を保有してる期間は、人類の長い歴史の中では、ものすっっっっっっごい短いよね　って思ってる。
        <br>
        <br>
        <img src="img/IMG_3158.jpeg" align="middle">
      
        <br>
        そっから想定される世界構造を図にするとこうなる。つまり、たった１つしかない自分の世界がオリジナルである確率なんて、ものすごく低いよね？　って思ってる。
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
    </p>
    <p class="yellow">
        読まなくていい余談１
        <br>
        肉体が不老になったとして、真の不老不死を獲得するには、精神的にも不死にならないといけないんだけど、
        <br>
        <br>
        わいが想定できるのは
        <br>
        <br>
        方法１、マグマにぶち込まれようが真空に解き放たれようが絶対的に死なない不死を身に着ける
        <br>
        <br>
        方法２、死のうにも死ねない身動き取れない状態になる
        <br>
        <br>
        方法３、動物がその状態なんですが、記憶の操作や白痴になるとかでそもそも自殺に至る思考回路を消す、
        <br>
        <br>
        方法４、本当に真の意味での強メンタルを獲得する(なんじゃそれって感じですが、まあ何兆も人類が生まれてればそういうやつも現れると思います)
        <br>
        <br>
        <br>
        の４つ
        もしくは複合だけだと思いますね、仮想世界に自分をぶち込むってのは、２と３の複合になります
    </p>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <p>
        で、たとえばわいが具体的に想定してるシチュエーションがどんなかっていうと、2000年代人生シミュレーターみたいなんがあって、
        <br>
        <br>
        <br>
        わいは人生を何億回と繰り返してる人生ジャンキーで、
        仮にわいがどんな死に方しようとも、「あーーーーーーーーーーーーーーーーーーーー　ーーーー、変な人生だったなー、まー次行くか―！」　ってなるだけなんじゃねえのかな？　って思ってるってことですね。
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        </p>
        <p style="color: rgb(222, 200, 243);">
        読まなくていい余談２
        <br>
        とりまわかりやすいように人生シミュレーターと述べたが、まあ、仮想世界の作り方はいくつかあって、
        <br>
        1.ほとんど０に近いところから一つ一つ組み上げていく、マイクラみたいな完全デザイン方式
        <br>
        2.完全な無秩序にエネルギーを投入して、勝手に生み出されるのを待つ方法
        <br>
        3.ある程度のルール、法則を設定してから生み出す方法
        <br>
        4.複製
        <br>
        の４つ(もしくは複合)
        <br>
        <br>
        フルダイブばっかりじゃなくて、仮想世界内で生み出される生命のことは考慮しないの？って反論があるんじゃないか？って思ってる。
        <br>
        その場合も、今くらいの文明で生きてる生物は、やっぱりシミュレーターでループしてる人らの数のが圧倒的に多いはず。
        <br>
        結局、1,2,3,4いずれの方式にせよ、中途半端な文明を維持してる期間はものすごく短くて、超文明を維持してる期間のが長い
        
        フルダイブばっかりじゃなくて、仮想世界内で生み出される生命のことは考慮しないの？って反論があるんじゃないか？って思ってる。
        その場合も、今くらいの文明で生きてる生物は、やっぱりシミュレーターでループしてる人らの数のが圧倒的に多いはず
    </p>
        <br>
        
        <br>
        <p>
        <span style="color: rgb(110, 121, 223);">
        読まなくていい余談３、たぶんほとんどの人は理解できない
        <br>
        <br>
        コンピュータ上や、機械の中にクオリアは再現できるのか？　って議論があると思うんですが、まあ完全にクオリアの仕組みを解明することはできないと思うんだけど、
        <br>
        <br>
        生物の情報伝達に必要なパーツを特定する　→　生命維持に必要なパーツを特定する　→　残った部分をそぎ落として順番に付け替えて、同様の構造物を別の物質で作ってもクオリアが発生するか？とかやってれば、クオリアを生み出す構造自体は把握できるはず。　あとはＰＣ上に同様の物を再現してやればいいと思います。（まあ、これも上層世界ってものがあって、仮にその部分が上層世界に繋ぐ為の部品でしかないとすれば、いくら他で再現しようとも接続先が無くて詰むんだけども。
        </span>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        で、まあ、これらの推定があってるとして、
        <br>
        <br>
        <br>
        最後、疑問に思うのは、
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        じゃあ、目の前の相手に魂は存在するのか？　 ってことなんだけど、
        <br>
        <br>
        <br>
        ほんとは、結局そんなのは設計者の思想によるので答えようがない って感じなんですが
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        僕は、在るって方に賭けたいですね、だっていくらなんでもそうじゃなきゃ空しすぎるだろう？
    </p>
</body>

</html>